[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "puppet/modules/postgresql"]
	path = puppet/modules/postgresql
	url = https://github.com/akumria/puppet-postgresql.git
[submodule "puppet/modules/rvm"]
	path = puppet/modules/rvm
	url = https://github.com/blt04/puppet-rvm.git
